# Ignore models directory
training/yolov5xu.pt
yolov8x.pt

# Ignore runs directory completely
runs/

# Ignore fine tuned models inside models directory
models/*.pt
training/yolov5xu.pt
yolov8x.pt
runs/
models/*.pt
